In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('cm23AUG2021bhav.csv')
date = df['TIMESTAMP'].iloc[1]
df = df.drop(['HIGH','LOW','LAST','TIMESTAMP','TOTTRDVAL','TOTTRDQTY','ISIN','Unnamed: 13','PREVCLOSE'],axis=1)
df.head(10)

       SYMBOL SERIES      OPEN     CLOSE  TOTALTRADES
0   20MICRONS     EQ     53.80     49.45         2298
1  21STCENMGM     EQ     29.95     29.95           26
2  3IINFOTECH     BE      7.35      7.00         8518
3     3MINDIA     EQ  23199.65  22799.90         1535
4      3PLAND     BE     13.30     13.25           41
5   585GS2030     GS     95.05     95.05            1
6      5PAISA     EQ    461.00    431.45         1500
7     63MOONS     EQ     94.90     88.30         1151
8   667GS2050     GS     96.00     95.95            9
9   676GS2061     GS     98.20     97.30           11

In [3]:
date

'23-AUG-2021'

<br><br>
# Change maker

In [4]:
df['CHANGE'] = ((df['CLOSE'] - df['OPEN'])*100 / df['OPEN']).round(2)

df.head()

       SYMBOL SERIES      OPEN     CLOSE  TOTALTRADES  CHANGE
0   20MICRONS     EQ     53.80     49.45         2298   -8.09
1  21STCENMGM     EQ     29.95     29.95           26    0.00
2  3IINFOTECH     BE      7.35      7.00         8518   -4.76
3     3MINDIA     EQ  23199.65  22799.90         1535   -1.72
4      3PLAND     BE     13.30     13.25           41   -0.38

In [11]:
df_filtered = df[df['CLOSE'] >= 100]
df_filtered = df_filtered[df_filtered['SERIES'] == 'EQ']
df_filtered = df_filtered[df_filtered['TOTALTRADES'] >= 20000]
df_filtered = df_filtered[abs(df_filtered['CHANGE']) >= 4.5]
df_filtered

          SYMBOL SERIES     OPEN    CLOSE  TOTALTRADES  CHANGE
33           ACE     EQ   211.90   194.55        28125   -8.19
79      ALLCARGO     EQ   208.50   199.10        20882   -4.51
99     ANGELBRKG     EQ  1192.00  1072.20        60242  -10.05
204   BANDHANBNK     EQ   280.00   266.65       100329   -4.77
242   BHARATFORG     EQ   762.00   719.65        92569   -5.56
251       BIOCON     EQ   359.30   333.20        83199   -7.26
262          BLS     EQ   145.00   169.55        36612   16.93
282          BSE     EQ  1120.55  1039.70        34858   -7.22
288   BURGERKING     EQ   160.10   148.25        39040   -7.40
411      DEVYANI     EQ   120.60   114.70       124362   -4.89
458   EASEMYTRIP     EQ   449.45   414.05        30097   -7.88
492       ELECON     EQ   166.80   150.70        20651   -9.65
554          FSL     EQ   192.25   180.40        71678   -6.16
586        GICRE     EQ   147.60   139.80        41325   -5.28
592        GLAND     EQ  4088.00  3871.25        59710   -5.30
600          GLS     EQ   719.75   676.40        33162   -6.02
606         GNFC     EQ   335.00   316.45        26651   -5.54
630     GRAPHITE     EQ   624.00   589.45        23831   -5.54
664       HATSUN     EQ   921.00  1015.80        82832   10.29
683          HEG     EQ  2265.00  2157.85        24515   -4.73
696        HIKAL     EQ   637.80   584.25        25586   -8.40
703   HINDCOPPER     EQ   122.60   110.65        55828   -9.75
819     INDIACEM     EQ   169.00   157.45        27989   -6.83
822      INDIANB     EQ   123.00   116.25        32521   -5.49
861    INTELLECT     EQ   633.00   589.70        22267   -6.84
868          IPL     EQ   317.20   301.80        28639   -4.85
927   JINDALSTEL     EQ   383.65   363.60       135185   -5.23
937      JKPAPER     EQ   241.85   223.05        41772   -7.77
938       JKTYRE     EQ   150.20   141.15        21443   -6.03
948          JSL     EQ   139.40   128.85        40036   -7.57
949     JSLHISAR     EQ   259.00   245.70        20039   -5.14
955     JUBLFOOD     EQ  3997.60  3791.40        63753   -5.16
957   JUBLINGREA     EQ   707.00   654.20        70281   -7.47
1062  LAURUSLABS     EQ   682.10   637.70        85773   -6.51
1126      MAHLOG     EQ   723.90   784.95        58315    8.43
1228    MTARTECH     EQ  1246.85  1176.15        20340   -5.67
1303       NIACL     EQ   138.00   160.25       110441   16.12
1340      NUVOCO     EQ   485.00   531.70       375401    9.63
1495        RAIN     EQ   209.55   195.10        43625   -6.90
1528   REDINGTON     EQ   160.00   150.35        55057   -6.03
1569       ROUTE     EQ  1875.00  1782.35        34479   -4.94
1596        SAIL     EQ   122.00   115.15       233572   -5.61
1642     SEQUENT     EQ   248.95   232.10        28530   -6.77
1732   SHYAMMETL     EQ   395.80   364.00        50395   -8.03
1768    SONACOMS     EQ   472.15   445.20        66378   -5.71
1825        STAR     EQ   611.65   581.65        21294   -4.90
1896  TATACOFFEE     EQ   190.85   181.70        26423   -4.79
1901  TATAMETALI     EQ  1136.00  1079.35        23361   -4.99
1919      TCIEXP     EQ  1315.00  1385.40        20745    5.35
1993       UFLEX     EQ   467.70   429.90        22095   -8.08
1998     UJJIVAN     EQ   161.35   151.75        64359   -5.95
2028  VAIBHAVGBL     EQ   748.95   700.60        20263   -6.46
2092  WELSPUNIND     EQ   118.00   126.50        46123    7.20
2099     WINDLAS     EQ   369.25   341.35        26555   -7.56
2124      ZOMATO     EQ   137.80   127.25       320725   -7.66

In [12]:
winners = df_filtered[df_filtered['CHANGE']>= 3.5]
print(winners.count().SYMBOL)
winners = winners.sort_values('CHANGE', ascending=False)
winners

7

          SYMBOL SERIES    OPEN    CLOSE  TOTALTRADES  CHANGE
262          BLS     EQ   145.0   169.55        36612   16.93
1303       NIACL     EQ   138.0   160.25       110441   16.12
664       HATSUN     EQ   921.0  1015.80        82832   10.29
1340      NUVOCO     EQ   485.0   531.70       375401    9.63
1126      MAHLOG     EQ   723.9   784.95        58315    8.43
2092  WELSPUNIND     EQ   118.0   126.50        46123    7.20
1919      TCIEXP     EQ  1315.0  1385.40        20745    5.35

In [13]:
lossers = df_filtered[df_filtered['CHANGE']<= -3.5]
print(lossers.count().SYMBOL)
lossers = lossers.sort_values(by=['CHANGE'], ascending=True)
lossers

48

          SYMBOL SERIES     OPEN    CLOSE  TOTALTRADES  CHANGE
99     ANGELBRKG     EQ  1192.00  1072.20        60242  -10.05
703   HINDCOPPER     EQ   122.60   110.65        55828   -9.75
492       ELECON     EQ   166.80   150.70        20651   -9.65
696        HIKAL     EQ   637.80   584.25        25586   -8.40
33           ACE     EQ   211.90   194.55        28125   -8.19
1993       UFLEX     EQ   467.70   429.90        22095   -8.08
1732   SHYAMMETL     EQ   395.80   364.00        50395   -8.03
458   EASEMYTRIP     EQ   449.45   414.05        30097   -7.88
937      JKPAPER     EQ   241.85   223.05        41772   -7.77
2124      ZOMATO     EQ   137.80   127.25       320725   -7.66
948          JSL     EQ   139.40   128.85        40036   -7.57
2099     WINDLAS     EQ   369.25   341.35        26555   -7.56
957   JUBLINGREA     EQ   707.00   654.20        70281   -7.47
288   BURGERKING     EQ   160.10   148.25        39040   -7.40
251       BIOCON     EQ   359.30   333.20        83199   -7.26
282          BSE     EQ  1120.55  1039.70        34858   -7.22
1495        RAIN     EQ   209.55   195.10        43625   -6.90
861    INTELLECT     EQ   633.00   589.70        22267   -6.84
819     INDIACEM     EQ   169.00   157.45        27989   -6.83
1642     SEQUENT     EQ   248.95   232.10        28530   -6.77
1062  LAURUSLABS     EQ   682.10   637.70        85773   -6.51
2028  VAIBHAVGBL     EQ   748.95   700.60        20263   -6.46
554          FSL     EQ   192.25   180.40        71678   -6.16
1528   REDINGTON     EQ   160.00   150.35        55057   -6.03
938       JKTYRE     EQ   150.20   141.15        21443   -6.03
600          GLS     EQ   719.75   676.40        33162   -6.02
1998     UJJIVAN     EQ   161.35   151.75        64359   -5.95
1768    SONACOMS     EQ   472.15   445.20        66378   -5.71
1228    MTARTECH     EQ  1246.85  1176.15        20340   -5.67
1596        SAIL     EQ   122.00   115.15       233572   -5.61
242   BHARATFORG     EQ   762.00   719.65        92569   -5.56
630     GRAPHITE     EQ   624.00   589.45        23831   -5.54
606         GNFC     EQ   335.00   316.45        26651   -5.54
822      INDIANB     EQ   123.00   116.25        32521   -5.49
592        GLAND     EQ  4088.00  3871.25        59710   -5.30
586        GICRE     EQ   147.60   139.80        41325   -5.28
927   JINDALSTEL     EQ   383.65   363.60       135185   -5.23
955     JUBLFOOD     EQ  3997.60  3791.40        63753   -5.16
949     JSLHISAR     EQ   259.00   245.70        20039   -5.14
1901  TATAMETALI     EQ  1136.00  1079.35        23361   -4.99
1569       ROUTE     EQ  1875.00  1782.35        34479   -4.94
1825        STAR     EQ   611.65   581.65        21294   -4.90
411      DEVYANI     EQ   120.60   114.70       124362   -4.89
868          IPL     EQ   317.20   301.80        28639   -4.85
1896  TATACOFFEE     EQ   190.85   181.70        26423   -4.79
204   BANDHANBNK     EQ   280.00   266.65       100329   -4.77
683          HEG     EQ  2265.00  2157.85        24515   -4.73
79      ALLCARGO     EQ   208.50   199.10        20882   -4.51

In [14]:
losers2 = lossers[['SYMBOL','CHANGE']]

In [15]:
losers2.reset_index(inplace=True, drop=True)
losers2

        SYMBOL  CHANGE
0    ANGELBRKG  -10.05
1   HINDCOPPER   -9.75
2       ELECON   -9.65
3        HIKAL   -8.40
4          ACE   -8.19
5        UFLEX   -8.08
6    SHYAMMETL   -8.03
7   EASEMYTRIP   -7.88
8      JKPAPER   -7.77
9       ZOMATO   -7.66
10         JSL   -7.57
11     WINDLAS   -7.56
12  JUBLINGREA   -7.47
13  BURGERKING   -7.40
14      BIOCON   -7.26
15         BSE   -7.22
16        RAIN   -6.90
17   INTELLECT   -6.84
18    INDIACEM   -6.83
19     SEQUENT   -6.77
20  LAURUSLABS   -6.51
21  VAIBHAVGBL   -6.46
22         FSL   -6.16
23   REDINGTON   -6.03
24      JKTYRE   -6.03
25         GLS   -6.02
26     UJJIVAN   -5.95
27    SONACOMS   -5.71
28    MTARTECH   -5.67
29        SAIL   -5.61
30  BHARATFORG   -5.56
31    GRAPHITE   -5.54
32        GNFC   -5.54
33     INDIANB   -5.49
34       GLAND   -5.30
35       GICRE   -5.28
36  JINDALSTEL   -5.23
37    JUBLFOOD   -5.16
38    JSLHISAR   -5.14
39  TATAMETALI   -4.99
40       ROUTE   -4.94
41        STAR   -4.90
42     DEVYANI   -4.89
43         IPL   -4.85
44  TATACOFFEE   -4.79
45  BANDHANBNK   -4.77
46         HEG   -4.73
47    ALLCARGO   -4.51